<% content_for :title, "Notes" %>

<div class="home">

  <div class="home_info">
    <span><%= @posts.length %> Notes</span>
    <%= link_to "Create Note", new_post_path, class: "pri_btn" %>
  </div>

  <% unless @posts.empty? %>
    <% @posts.each do |el| %>
      <div class="note">
        <div class="note_header common_header">
          <%= image_tag "ruby-red.png" %>
          <div class="note_h_left">
            <span class="note_username">You..</span>
            <span class='note_time'><%= el.created_at %></span>
          </div>
        </div>
        <div class="note_title">
          <span><%= el.title %></span>
        </div>
        <div class="note_content">
          <span><%= el.content %></span>
        </div>
        <div class="note_actions">
          <%= link_to "Edit", edit_post_path(el.id), class: "sec_btn" %>
          <%=
            link_to "Delete",
            delete_post_path(el.id),
            class: "sec_btn",
            :data => { :confirm => "Are you sure??" },
            :method => :delete
          %>
          <%= link_to "View", show_post_path(el.id), class: "pri_btn" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @posts.empty? %>
    <div class='home_last_mssg'>
      <%= image_tag "large.jpg" %>
      <span>No notes for you. Go ahead and create one!!</span>
    </div>
  <% end %>

  <% unless @posts.empty? %>
    <div class="page_end">
      <span>Looks like you've reached the end</span>
    </div>
  <% end %>

</div>
