<%= render 'partials/header', title: 'New Post | Rails Posts App' %>

<h1>New Post!!</h1>

<%= form_for @post, url: { action: 'create' } do |f| %>
    <%= render 'partials/emssg', post: @post %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title, placeholder: "Title..", autofocus: true %>
    </p>
    <p>
        <%= f.label :content %><br>
        <%= f.text_area :content, placeholder: "Content..", autofocus: true %>
    </p>
    <p>
        <%= f.submit "Add Post" %>
    </p>
<% end %>

<%= render 'partials/back' %>
